.request-buttons button {
    display: inline;
    width: 30%;
    margin-bottom: 10px;
    background-color: #58a6ff !important;
    color: #0d1117 !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 5px !important;
    font-size:7pt;
    margin-top:20px;
    
}

.request-buttons button:hover {
    background-color: #4f8dff !important;
    
}