<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    {% include 'tracer/partials/_navbar.html' %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                
                    <div class="card-body">
                        <div class="row">
                            <!-- Profile Information -->
                            <div class="col-md-12">
                                <div class="profile-section">
                                    <div class="text-center">
                                        {% if profile.profile_picture %}
                                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture" style="width: 150px; height: 150px;">
                                        {% else %}
                                        <img src="https://via.placeholder.com/150" alt="Default Profile Picture" class="profile-picture" style="width: 150px; height: 150px;">
                                        {% endif %}
                                        <h3>{{ profile.username }}</h3>
    
                                        <a href="{% url 'edit_profile' %}" class="btn btn-edit mb-3">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row col-md-12">
                                <!-- Lists area -->
                                <div class="col-md-8">
                                    <div class="lists-section">
                                        <h4>Lists:</h4>
                                        <div class="list-card">
                                            <div>lorem</div>
                                        </div>
                                    </div>
    
                                </div>

                                <!-- Friend List -->
                                <div class="col-md-4">
                                    <div class="col-md-12" style="margin-left:20px;margin-top:30px">
                                        <!-- Search Bar -->
                                        <input type="text" id="userSearch" class="search-bar" placeholder="Search for users...">
                                        <div id="searchResults" class="search-results"></div>
                                    </div>

                                    <div class="col-md-12 friends-section">
                                        <h4>Friends:</h4>
                                        <ul class="list-group">
                                            {% for friend in friends %}
                                            <li class="friend-card">
                                                <a href="{% url 'visit_profile' friend.id %}" class="friend-link">
                                                    <img src="{{ friend.profile_picture.url }}" alt="Profile Picture" class="friend-picture" style="border-radius: 50%; width: 50px; height: 50px;">
                                                    <span class="friend-username">{{ friend.username }}</span>
                                                </a>
                                            </li>
                                            
                                            {% empty %}
                                            <li class="list-group-item">No friends yet.</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div> 

                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'tracer/partials/_footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var activeUserId = "{{ request.user.id }}";
        var friends = "{{ friends }}"
        
        $(document).ready(function () {
            let lastQuery = '';
    
            // Arama çubuğuna tıklandığında sonuçları tekrar göster
            $('#userSearch').on('focus', function () {
                if (lastQuery.length > 0) {
                    $('#searchResults').show();
                }
            });
    
            // Arama çubuğuna yazıldığında sonuçları getir
            $('#userSearch').on('input', function () {
                lastQuery = $(this).val();
                if (lastQuery.length > 0) {
                    fetchResults(lastQuery);
                    $('#searchResults').show();
                } else {
                    $('#searchResults').html('');
                    $('#searchResults').hide();
                }
            });
    
            // Arama sonuçlarını getir
            function fetchResults(query) {
                $.ajax({
                    url: "{% url 'profile' %}",  // AJAX çağrısı için doğru URL
                    data: {
                        'query': query
                    },
                    success: function (data) {
                        $('#searchResults').html('');
                        data.results.forEach(function (target) {
                            if (target.username !== 'admin') {
                                $('#searchResults').append(`
                                    <div class="search-result-item">
                                        <img src="${target.profile_picture}" alt="Profile Picture" width="40" height="40">
                                        <span style="margin-right:5px">${target.username}</span>
                                        ${friends.includes(target.username) ? `
                                            <button style="margin-left: auto;" class="view-button" data-target-id="${target.id}">View Profile</button>
                                        ` : `
                                            <button style="margin-left: auto;" class="request-button" data-target-id="${target.id}">Request</button>
                                        `}
                                    </div>
                                `);
                            }
                        });
                    }
                });
            }
    
            // Arkadaşlık isteği gönderme
            $(document).on('click', '.request-button', function () {
                var targetId = $(this).data('target-id');
                $.ajax({
                    url: "{% url 'send_friend_request' %}",
                    method: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'active_user_id': activeUserId,
                        'target_user_id': targetId
                    },
                    success: function (response) {
                        alert("Friend request sent successfully!");
                    },
                    error: function (xhr, status, error) {
                        alert("Error sending friend request: " + error);
                    }
                });
            });
    
            // Profil görüntüleme
            $(document).on('click', '.view-profile-button', function () {
                var targetId = $(this).data('target-id');
                window.location.href = `/user/${targetId}/`;  // Profil sayfasına yönlendirme
            });
    
            // Arama çubuğunun dışında bir yere tıklanırsa listeyi gizle
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#userSearch').length && !$(e.target).closest('#searchResults').length) {
                    $('#searchResults').hide();
                }
            });
        });
    </script>
    

</body>

</html>
