<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>

<body>
    {% include 'tracer/partials/_navbar.html' %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                   
                    
                    <div class="card-body">
                        <div class="row">
                            <!-- Profil Bilgileri -->
                            <div class="col-md-12 profile-section">
                                <div class="text-center">
                                    {% if profile.profile_picture %}
                                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture" style="width: 150px; height: 150px;">
                                    {% else %}
                                    <img src="https://via.placeholder.com/150" alt="Default Profile Picture" class="profile-picture" style="width: 150px; height: 150px;">
                                    {% endif %}
                                    <h3>{{ profile.username }}</h3>

                                   
                                </div>
                                {% if is_friend == 'False' %}
                                <div class="request-buttons ">  
                                    <button class="request-buttons accept" data-profile-id="{{profile.id}}">Accept Request</button>
                                    <button class="request-buttons discard" data-profile-id="{{profile.id}}">Discard Request</button>
                                    <button class="request-buttons message" data-profile-id="{{profile.id}}">Send a Message</button>
                                </div>
                                {% endif %}
                            </div>
                            
                            
                            <div class="row col-md-12">
                                <!-- Lists area -->
                                <div class="col-md-8">
                                    <div class="lists-section">
                                        <h4>Lists:</h4>
                                        <div class="list-card">
                                            <div>lorem</div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="col-md-4">
                                    {% if profile.show_locations or is_friend %}
                                    <div class="friends-section">
                                        <h4>Friends List:</h4>
                                        <ul class="list-group">
                                            
                                                {% for friend in user_friends %}
                                                    <a href="{% url 'visit_profile' friend.id %}" class="friend-link">
                                                        <img src="{{ friend.profile_picture.url }}" alt="Profile Picture" class="friend-picture" style="border-radius: 50%; width: 50px; height: 50px;">
                                                        <span class="friend-username">{{ friend.username }}</span>
                                                    </a>
                                                {% empty %}
                                                <li class="list-group-item">No friends yet.</li>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                        <p>Locations are hidden.</p>
                                    {% endif %}
                                </div>
                                
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'tracer/partials/_footer.html' %}
    <script>
        var activeUserId = "{{ request.user.id }}";
        $(document).ready(function(){
            $(document).on('click', '.accept', function(){
                var targetId = $(this).data('profile-id');
                $.ajax({
                    url : "{% url 'add_friend' %}",
                    method : "POST",
                    data : {
                        'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        'active_user_id': activeUserId,
                        'target_user_id' : targetId
                    },
                    success: function(response) {
                        if(response.status === 'success') {
                            alert("Users friend request accepted..");
                            location.reload();  
                        }
                    },

                    error: function(xhr, status, error){
                        alert("User can't added to frind list." + error  + status)
                    }
                })
            })
        })
    </script>
</body>

</html>
